/* Hammer animations for different hammer instances */
.hammers .obstacle.hammer:nth-child(1) {
  animation: MoveUpDown 3s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(2) {
  animation: MoveUpDown 4s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(3) {
  animation: MoveUpDown 5s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(4) {
  animation: MoveUpDown 3s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(5) {
  animation: MoveUpDown 4s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(6) {
  animation: MoveUpDown 5s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(7) {
  animation: MoveUpDown 6s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(8) {
  animation: MoveUpDown 7s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}

.hammers .obstacle.hammer:nth-child(9) {
  animation: MoveUpDown 4s cubic-bezier(0.95, 0.05, 0.795, 0.035) infinite;
}
